doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        title #{title} - Webkleur
        link(rel='shortcut icon', href='/favicon.png')
        link(rel='stylesheet', href='/css/main.css')

    body
        include partials/header

        .container
            include partials/flash
            block content

        include partials/footer

        script(src='/js/lib/jquery.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')
        script(async='', src='https://static.addtoany.com/menu/page.js')
    block after_scripts

